/* Showcase */
#showcase {
  margin: 0;
  padding: 0;
  background: url('../img/showcase.jpeg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;

  .container {
    margin-top: 25vh;
    text-shadow: 1px 1px 1px #000;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2rem;
  }
}
