/* Text colors */
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-light {
  color: $light-color;
}

.bg-light {
  background: $light-color;
  color: #333;
}